
<!-- üye ol ========================= signup-style-2 start ========================= -->
<section class="signup signup-style-2 mb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="signup-content-wrapper">
          <div class="section-title">
            <h3 class="mb-20">Sign Up</h3>
            <p>Morbi et sagittis dui, sed fermentum ante. Pellentesque molestie sit amet dolor vel euismod.</p>
          </div>
          <div class="image">
            <img src="assets/img/signup/signup-2/signup-img.svg" alt="" class="w-100">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="signup-form-wrapper">
          <form class="signup-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="single-input">
              <label for="signup-name">Name</label>
              <input formControlName="username" type="text" id="signup-name" name="signup-name" placeholder="Your Name" autocomplete="off" >
            </div>
            <div class="single-input">
              <label for="signup-email">Email</label>
              <input formControlName="email" type="email" id="signup-email" name="signup-email" autocomplete="off" 
                placeholder="Your Email">
            </div>

            <div class="single-input">
              <label for="signup-password">Password</label>
              <input formControlName="password" [type]="fieldTextType ? 'text' : 'password'" id="signup-password"
                name="signup-password" placeholder="Choose password">
              <!-- <i class="lni lni-eye"></i> -->
              <i class="lni" [ngClass]="{
                  'lni-eye': !fieldTextType,
                  'lni-ban': fieldTextType
                }" (click)="toggleFieldTextType()"></i>
            </div>

            <div class="signup-button mb-25">
              <button class="button button-lg radius-10 pl-60 pr-60" type="submit">Sign up</button>
            </div>
            <p>Already you have an account? <a routerLink="/log-in">Log In</a> </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= signup-style-2 end ========================= -->