
<app-header></app-header>
 
  <!-- ========================= signup-style-2 start ========================= -->
  <section class="signup signup-style-2 mb-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="signup-content-wrapper">
            <div class="section-title">
              <h3 class="mb-20">Şifre Yenileme</h3>
              <p>Morbi et sagittis dui, sed fermentum ante. Pellentesque molestie sit amet dolor vel euismod.</p>
            </div>
            <div class="image">
              <img src="assets/img/signup/signup-2/signup-img.svg" alt="" class="w-100">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="signup-form-wrapper">
            <form (ngSubmit)="finishReset()" [formGroup]="passwordForm" class="signup-form">
              
             
              <div class="single-input">
                <label for="signup-password">Password</label>
                <input formControlName="newPassword" [type]="fieldTextType ? 'text' : 'password'" id="signup-password"
                  name="signup-password" placeholder="Choose password">
                <!-- <i class="lni lni-eye"></i> -->
                <i class="lni" [ngClass]="{
                    'lni-eye': !fieldTextType,
                    'lni-ban': fieldTextType
                  }" (click)="toggleFieldTextType()"></i>
              </div>
             
              <div class="signup-button mb-25">
                <button  type="submit" class="button button-lg radius-10 btn-block">Yenile</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= signup-style-2 end ========================= -->
  