<div class="container">
    <div class="d-flex justify-content-center">

        <ng-container *ngIf="success">
            <div class="card">
                <div class="card-header fs-1" style="color: chartreuse;">
                  Hesap durumu
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Hesabın aktif oldu</p>
                  </blockquote>
                </div>
              </div>
        
        </ng-container>
        
        <ng-container *ngIf="error">
               <div class="card ">
                <div class="card-header fs-1" style="color: red;">
                    Hesap durumu
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Bir hata oluştu Hesabınız aktif olmadı</p>
                  </blockquote>
                </div>
        </div>
         
        
        
        </ng-container>
    </div>
</div>
