<!-- <div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 jhiTranslate="reset.request.title">Reset your password</h1>
  
  
        <div class="alert alert-warning" *ngIf="!success">
          <span jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</span>
        </div>
  
        <div class="alert alert-success" *ngIf="success">
          <span jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
        </div>
  
        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="form-group">
            <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="e-posta'nızı giriniz"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />
  
            <div
              *ngIf="
                resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.required"
                jhiTranslate="global.messages.validate.email.required"
              >
                Your email is required.
              </small>
  
              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.email"
                jhiTranslate="global.messages.validate.email.invalid"
              >
                Your email is invalid.
              </small>
  
              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.minlength"
                jhiTranslate="global.messages.validate.email.minlength"
              >
                Your email is required to be at least 5 characters.
              </small>
  
              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.email.maxlength"
              >
                Your email cannot be longer than 100 characters.
              </small>
            </div>
          </div>
  
          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary mt-3"
            jhiTranslate="reset.request.form.button"
            data-cy="submit"
          >
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
    <form action="" method="post" class="form-box">
      <h3 class="h4 text-black mb-4">Sign Up</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email Addresss">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group mb-4">
        <input type="password" class="form-control" placeholder="Re-type Password">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-pill" value="Sign up">
      </div>
    </form>

  </div> -->


  <!-- ========================= login-style-1 start ========================= -->
  <section class="login-section login-style-1 img-bg mb-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6">
          <div class="login-content-wrapper">
            <div class="section-title mb-40">
              <h3 class="mb-20">Forgot Password?</h3>
              <p>Morbi et sagittis dui, sed fermentum ante. Pellentesque <br class="d-none d-md-block"> molestie sit amet dolor vel euismod.</p>
            </div>
            <form (ngSubmit)="requestReset()" [formGroup]="resetRequestForm" class="login-form">
              <div class="single-input">
                <label for="login-email">Email</label>
                <input formControlName="email" type="email" id="login-email" name="login-email" placeholder="Your Email">
                <i class="lni lni-envelope"></i>
              </div>
             
              <div class="signup-button mb-25">
                <button  type="submit" class="button button-lg radius-10 btn-block">Send</button>
              </div>
              <!-- <p class="mb-25">Don't have an account? <a href="#0">Sign up</a> </p> -->
            </form>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6 align-self-end">
          <div class="image text-lg-right d-none d-lg-block">
            <img src="assets/img/signup/login-1/login-img.svg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= login-style-1 end ========================= -->
  