<ng-container [ngSwitch]="currentRoute">
  <ng-container *ngFor="let url of ['/', '#', ' ','/sendMail','/dersler']">
    <ng-container *ngSwitchCase="url">
      <div class="container-fluidwidth">
        <app-header></app-header>

        <div class="container">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
    </ng-container>
  </ng-container>

  <!-- <ng-container *ngSwitchCase="this.yeniSifreDondur(currentRoute)">
    <div class="container-fluidwidth">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </ng-container> -->

  <ng-container *ngFor="let url of ['/log-in', '/sign-up','/sifre-unuttum','/yeni-sifre']">
    <ng-container *ngSwitchCase="url">
      <div class="container-fluidwidth">
        <app-header></app-header>
        <router-outlet></router-outlet>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'/home'">
    <div class="container-fluidwidth">
      <app-header></app-header>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchDefault>
    
    <router-outlet></router-outlet>
  </ng-container>
</ng-container>
