<!-- <div class="sidenav">
   <div class="login-main-text">
      <h2>Application<br> Login Page</h2>
      <p>Login or register from here to access.</p>
   </div>
</div>

<div class="main">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">

         <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">

            <div class="d-flex flex-row align-items-center mb-4">
               <i class="fa fa-user fa-lg me-3 fa-fw"></i>
               <div class="form-outline flex-fill mb-0">
                  <div class="form-group">
                     <input type="text" formControlName="username" placeholder="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

                     <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <div *ngIf="f.username.errors.minlength"> Username must be at least 6 characters</div>
                        <div *ngIf="f.username.errors.maxlength"> Username must not exceed 20 characters</div>
                     </div>
                     
                  </div>


               </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
               <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
               <div class="form-outline flex-fill mb-0">
                  <div class="form-group">

                     <input type="password" formControlName="password" placeholder="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                     <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">
                           Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.password.errors.maxlength">
                           Username must not exceed 40 characters
                        </div>
                     </div>
                  </div>

               </div>
            </div>


            <ngb-alert *ngIf="hata" [type]="'danger'" [dismissible]="false">kullanıcı adı yada şifreyi yanlış girdiniz!!
            </ngb-alert>
            <a routerLink="/sifre-unuttum"> şifremi unuttum</a>
            <button type="submit" class="btn btn-block btn-primary mx-3">Sign in</button>
            <button (click)="goToSignIn()" class="btn btn-secondary">Register</button>
         </form>

      </div>
   </div>
</div>

		========================= signup-style-1 start ========================= -->
         <!-- ========================= login-style-2 start ========================= -->
    <section class="login-section login-style-2 mb-80">
      <div class="container mb-5">
        <div class="login-wrapper img-bg">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-5 offset-xl-1">
              <div class="login-content-wrapper">
                <div class="section-title mb-40">
                  <h3 class="">Log In</h3>
                  <p>Morbi et sagittis dui, sed fermentum ante. Pellentesque <br class="d-none d-md-block"> molestie sit amet dolor vel euismod.</p>
                </div>
                <form class="login-form" [formGroup]="signinForm" (ngSubmit)="loginUser()">
                 
                  <div class="single-input">
                    <label for="login-email">Email</label>
                    <input type="email" id="login-email" formControlName="username" placeholder="username" placeholder="Your Email"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <i class="lni lni-envelope"></i>
                  </div>

                  <div class="single-input">
                    <label for="login-password">Password</label>
                    <input type="password" id="login-password" formControlName="password" name="login-password" placeholder="Enter password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                    <i class="lni lni-lock"></i>
                  </div>
                  <div class="form-footer">
                    <div class="form-check mb-25">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Remember Me
                      </label>
                    </div>
                    <p class="mb-25"><a routerLink="/sifre-unuttum" >Forgot Password?</a></p>
                  </div>
                  <div class="signup-button mb-25">
                    <button type="submit" class="button button-lg radius-10 btn-block">Log in</button>
                  </div>
                  <p class="mb-25">Don't have an account? <a routerLink="/sign-up">Sign up</a> </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
		<!-- ========================= login-style-2 end ========================= -->
		
