<div class="sidenav">
   <div class="login-main-text">
      <h2>Application<br> Login Page</h2>
      <p>Login or register from here to access.</p>
   </div>
</div>

<div class="main">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">

         <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">

            <div class="d-flex flex-row align-items-center mb-4">
               <i class="fa fa-user fa-lg me-3 fa-fw"></i>
               <div class="form-outline flex-fill mb-0">
                  <div class="form-group">
                     <input type="text" formControlName="username" placeholder="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

                     <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <div *ngIf="f.username.errors.minlength"> Username must be at least 6 characters</div>
                        <div *ngIf="f.username.errors.maxlength"> Username must not exceed 20 characters</div>
                     </div>
                     
                  </div>


               </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
               <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
               <div class="form-outline flex-fill mb-0">
                  <div class="form-group">

                     <input type="password" formControlName="password" placeholder="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                     <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">
                           Password must be at least 6 characters
                        </div>
                        <div *ngIf="f.password.errors.maxlength">
                           Username must not exceed 40 characters
                        </div>
                     </div>
                  </div>

               </div>
            </div>


            <ngb-alert *ngIf="hata" [type]="'danger'" [dismissible]="false">kullanıcı adı yada şifreyi yanlış girdiniz!!
            </ngb-alert>
            <a routerLink="/sifre-unuttum"> şifremi unuttum</a>
            <button type="submit" class="btn btn-block btn-primary mx-3">Sign in</button>
            <button (click)="goToSignIn()" class="btn btn-secondary">Register</button>
         </form>

      </div>
   </div>
</div>