<div class="container">
	<div class="row">
		<div class="col-md-4 align-self-center border-bottom ">
			<div class="lc-block">
				<div editable="rich">
					<h2>Nellentesque dolor in.</h2>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-md-5 align-self-center">
			<div class="lc-block">
				<div editable="rich">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat.&nbsp;&nbsp;In pellentesque scelerisque auctor. Ut porta lacus eget nisi fermentum lobortis.</p>
				</div>

			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-md-3 align-self-center">
			<div class="lc-block text-center ">
				<span editable="inline" class="d-block h2 display-2"> 30 </span>
				<span editable="inline" class="d-block mb-3 text-secondary" style="letter-spacing:5px"> JUNE 2023 </span>

			</div>
			<div class="lc-block text-center mb-5"><a class="btn btn-sm btn-outline-secondary" href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text=LiveCanvas+event+demo&amp;details=This+is+my+description&amp;location=New+York&amp;dates=20300108T120000Z%2F20300108T150000Z" role="button">Add to your calendar</a>

				<!-- Customize the link for your event: https://decomaan.github.io/google-calendar-link-generator/ -->
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div>

