<!-- <div class="row ">
    <div class="col-md-6 d-flex flex-column bd-highlight mb-3 align-items-center">
        <h1 class="text-center mt-5">Studying with us</h1>
        <p class="text-center font-monospace ">The Open University is the world’s leading distance-learning institution.
            Our studies take place online, enabling you to study whenever and wherever you wish.</p>
        <button type="button" class="btn btn-secondary btn-lg login-button mx-auto ">login</button>

    </div>
    <div class="col-md-6">
        <img class="rounded float-end kiz-resim"
            src="https://images03.nicepage.com/c461c07a441a5d220e8feb1a/8932ae2ad4355e14aa1bb06c/qmin.jpg" alt="">
    </div>
</div> -->

<h1>Angular 13 Toastr Notifications Example - Tutsmake.com</h1>
   
<button (click)="showToasterSuccess()">
    Success Toaster
</button>
   
<button (click)="showToasterError()">
    Error Toaster
</button>
   
<button (click)="showToasterInfo()">
    Info Toaster
</button>
   
<button (click)="showToasterWarning()">
    Warning Toaster
</button>
